<div class="md-padding">
	<h1>All Reports</h1>
	<md-list>
	  <md-list-item class="md-3-line" ng-repeat="report in admin.allReports">
		  
	  	<div class="md-list-item-text" layout="column">
		    <h4 class="md-title">{{report.facility.name | uppercase}} <span>({{report.facility.location | lowercase}})</span></h4>
		    <p>Description: {{report.description}}</p>
		    <p>Sent By: {{report.sentBy}}</p>
				<p ng-show="report.staffAssigned != 'none'">Staff Assigned: {{report.staffAssigned}}</p>
				<p ng-show="report.status != 'awaiting'">Status: {{report.status}}</p>

		    <div layout="row" layout-align="end center">
			  	<md-button class="md-raised md-primary" ng-click="admin.approveReport(report, $event)" ng-disabled="report.status == 'approved'||report.status == 'rejected'">
				  	<md-icon class="mdi mdi-checkbox-marked-outline" aria-label="Approve"></md-icon>
				  	approve
				  </md-button>
				  <md-button class="md-warn" ng-disabled="report.status == 'approved'||report.status == 'rejected'" ng-click="admin.rejectReport(report, $event)">
				  	<md-icon class="mdi mdi-close" aria-label="Reject"></md-icon>
				  	reject
				  </md-button>
			  </div>
		  </div>
		  
		  <md-divider ng-if="!$last"></md-divider>
	  </md-list-item>
		
	</md-list> 
</div>