<md-content layout="row" layout-xs="column" layout-padding layout-wrap layout-align-gt-xs="center">
	<!-- <span class="md-margin md-padding"></span>
	<h2 class="margin md-display-1">All Reports</h2> -->
	
  <div ng-show="admin.allReports.length == 0">
    <h1>No Reports</h1>
  </div>

  <md-card class="fix-margin-top" flex-sm="45" flex-gt-sm="30" ng-repeat="report in admin.allReports">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{report.facility.name|uppercase}}</span>
        <span class="md-subhead">{{report.description}}</span>
      </md-card-title-text>
    </md-card-title>

    <md-card-content layout="row" layout-xs="column">
      <div flex layout="column">
        <div flex class="card-media" ng-show="!showDetails">
        </div>
        <div ng-show="showDetails">
          <p><md-icon class="mdi mdi-map-marker"></md-icon>{{report.facility.location}}</p>

          <p><md-icon class="mdi mdi-account-box-outline"></md-icon>{{report.sentBy}}</p>

          <p><md-icon class="mdi mdi-account-check"></md-icon>{{report.staffAssigned}}</p>

          <p><md-icon class="mdi mdi-camera-timer"></md-icon>{{report.status}}</p>

          <md-button aria-label="hide details" class="md-primary" ng-click="showDetails = false">
            <md-icon class="mdi mdi-chevron-up" aria-label="details"></md-icon>hide
          </md-button>

        </div>
      </div>
      <md-card-actions layout="column" layout-xs="row" layout-align="center">
        <md-button class="md-icon-button md-primary" ng-click="showDetails = true">
          <md-icon class="mdi mdi-dots-vertical" aria-label="details"></md-icon>
        </md-button>

        <md-button class="md-icon-button md-primary" ng-click="admin.approveReport(report, $event)" ng-disabled="report.status == 'approved'||report.status == 'rejected'">
          <md-icon class="mdi mdi-checkbox-marked-outline" aria-label="Approve"></md-icon>
        </md-button>

        <md-button class="md-icon-button md-warn" ng-disabled="report.status == 'approved'||report.status == 'rejected'" ng-click="admin.rejectReport(report, $event)">
          <md-icon class="mdi mdi-close" aria-label="Reject"></md-icon>
        </md-button>
        
        <md-button class="md-icon-button md-warn" ng-click="admin.deleteReport(report, $event)">
          <md-icon class="mdi mdi-delete" aria-label="delete report"></md-icon>
        </md-button>

      </md-card-actions>
    </md-card-content>
  </md-card>
</md-content>