<md-dialog aria-label="Sign Up" flex>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Report a Case</h2>
      </div>
    </md-toolbar>
    <md-dialog-content layout-padding>
      <form layout="column" action="" method="post">
        <md-input-container>
          <label>Facility Name</label>
          <input type="text" ng-model="mRequest.name">
        </md-input-container>
        <md-input-container>
          <label>Description</label>
          <textarea name="bio" ng-model="mRequest.description" required md-maxlength="100"></textarea>
        </md-input-container>
      </form>
    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="center center">
      <md-button class="md-warn" ng-click="closeDialog()" >
        Cancel
      </md-button>
      <span flex="20"></span>
      <md-button class="md-primary md-raised" ng-click="getRequestDetails()">
        Send
      </md-button>
    </md-dialog-actions>
  
</md-dialog>