<md-dialog aria-label="Sign Up" flex>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>New User Sign Up</h2>
      </div>
    </md-toolbar>
    <md-dialog-content layout-padding>
      <form layout="column" action="" method="post">
        <md-input-container>
          <label>Full Name</label>
          <input type="text" ng-model="appAuth.user.name">
        </md-input-container>
        <md-input-container>
          <label>Email</label>
          <input type="email" ng-model="appAuth.user.email">
        </md-input-container>
        <md-input-container>
          <label>Password</label>
          <input type="password" ng-model="appAuth.user.password">
        </md-input-container>
      </form>
    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="center center">
      <md-button class="md-warn" ng-click="appAuth.closeSignUpForm()" >
        Cancel
      </md-button>
      <span flex="20"></span>
      <md-button class="md-primary md-raised" ng-click="appAuth.getUserDetails(appAuth.user)">
        Sign Up
      </md-button>
    </md-dialog-actions>
  
</md-dialog>