<div class="md-padding">
	<h1>All Users</h1>
	<md-list>
	  <md-list-item class="md-3-line" ng-repeat="staff in users">
		  <div class="md-list-item-text" layout="column">
		    <h3 class="md-title">{{staff.name | uppercase}}</h3>
		    <p>Email: {{staff.email}}</p>
		    <p>Role: {{staff.role}}</p>

		    <div layout="row" layout-align="end center">
		    	<md-button class="md-primary md-raised">
				  	<md-icon class="mdi mdi-account-key" aria-label="Set as Admin"></md-icon>Set as Admin
				  </md-button>
		    </div>
		  </div>
		  <md-divider ng-if="!$last"></md-divider>
	  </md-list-item>
	</md-list> 
</div>